{% extends 'layout.html'%}
{% block header%}
<title>Cylinder</title>
{% endblock %}
{% block content %}
<form action="{{ url_for("cylinderForm") }}" method="post">
    <label for="radius">Please Enter the radius:</label>
    <input type="text" id="radius" name="rad" placeholder="radius">
</br>
    <label for="height">Please Enter the height:</label>
    <input type="text" id="height" name="hgt" placeholder="height">
<p></p>
    <button type="submit">Calculate cylinder statistics</button>
</form>
{% endblock %}