{% extends 'layout.html'%}
{% block header%}
<title>Cylinder</title>
{% endblock %}
{% block content %}
<h1>Cylinder calculator</h1>
<form action="{{ url_for("cylinderForm") }}" method="post">
    <label for="radius">Please Enter the radius:</label>
    <input type="text" id="radius" name="rad" placeholder="radius">
</br>
    <label for="height">Please Enter the height:</label>
    <input type="text" id="height" name="hgt" placeholder="height">
<p></p>
    <button type="submit">Calculate cylinder statistics</button>
</form>
<div id="results">
    {% if radius %}
    <h2>Radius was: {{radius}}</h2>
    {% endif %}
    {% if height %}
    <h2>Height was: {{height}}</h2>
    {% endif %}
    {% if vol %}
    <h2>Volume: {{vol}}</h2>
    {% endif %}
    {% if sa %}
    <h2>Surface area: {{sa}}</h2>
    {% endif %}
    {% if lsa %}
    <h2>Lateral surface area: {{lsa}}</h2>
    {% endif %}
    {% if tbsa %}
    <h2>Top or bottom surface area: {{tbsa}}</h2>
    {% endif %}
    {% if slant %}
    <h2>The slant: {{slant}}</h2>
    {% endif %}

</div>
{% endblock %}