{% extends 'layout.html'%}
{% block header%}
<title>Geometry Web Calculator</title>
{% endblock %}
{% block content %}
    <h3>SENG3110 Geometry Calculator</h3>
    <h4>Please Select From the Following: </h4>

    <form action="{{ url_for("mainForm")}}" method="post">
        <input type="radio" id="sphere" value="sphere" name="select">
        <label for="sphere">Sphere</label></br>
        <input type="radio" id="cylinder" value="cylinder" name="select">
        <label for="cylinder">Cylinder</label></br>
        <input type="radio" id="cone" value="cone" name="select">
        <label for="cone">Cone</label></br>
        <p></p>
        <button type="submit">Make Selection</button>
    </form>
    <div id="results">
        {% if vol %}
        <h1>Volume: {{vol}}</h1>
        {% endif %}
        {% if sa %}
        <h1>Surface area: {{sa}}</h1>
        {% endif %}
        {% if lsa %}
        <h1>Lateral surface area: {{lsa}}</h1>
        {% endif %}
        {% if tbsa %}
        <h1>Top or bottom surface area: {{tbsa}}</h1>
        {% endif %}
        {% if slant %}
        <h1>The slant: {{slant}}</h1>
        {% endif %}

    </div>
{% endblock %}