{% extends 'layout.html'%}
{% block header%}
<title>Geometry Web Calculator</title>
{% endblock %}
{% block content %}
    <h3>SENG3110 Geometry Calculator</h3>
    <h4>Please Select From the Following: </h4>

    <form action="{{ url_for("mainForm")}}" method="post">
        <input type="radio" id="sphere" value="sphere" name="select">
        <label for="sphere">Sphere</label></br>
        <input type="radio" id="cylinder" value="cylinder" name="select">
        <label for="cylinder">Cylinder</label></br>
        <input type="radio" id="cone" value="cone" name="select">
        <label for="cone">Cone</label></br>
        <p></p>
        <button type="submit">Make Selection</button>
    </form>

{% endblock %}